USE [master]
GO
/****** Object:  Database [Film]    Script Date: 19-07-21 10:19:30 ******/
CREATE DATABASE [Film]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Film', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.TB2019\MSSQL\DATA\Film.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Film_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.TB2019\MSSQL\DATA\Film_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Film].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Film]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 19-07-21 10:19:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 19-07-21 10:19:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Duration] [time](7) NULL,
	[Director] [nvarchar](255) NULL,
	[BoxOffice] [money] NOT NULL,
	[Poster] [varchar](255) NULL,
	[CategoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [FK_Movie_CategoryID] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [FK_Movie_CategoryID]
GO
USE [master]
GO
