
@{
    ViewData["Title"] = "Home Sweet Home";
}

<h1>Home Sweet Home</h1>

<img src="http://3.bp.blogspot.com/-Aw7qbObHjJc/UaI48wy_m6I/AAAAAAAABAI/7hqAPdd3eto/s1600/home+sweet+home-01.jpg" alt="Home Sweet Home" />